<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Lakitu | Bot</title>
    <meta name="description" content="Bot general de la Comunidad Española de MK8D">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/avatars/348477208529993730/f5cbde8b629d3bf641f17e16b19734e2.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="theme-color" content="#222" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="og:title" content="Lakitu | Bot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lakitu.qk3.io/" />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/348477208529993730/f5cbde8b629d3bf641f17e16b19734e2.png" />
    <meta property="og:description" content="Bot general de la Comunidad Española de MK8D" />

    <link rel="stylesheet" href="../public/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137755620-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137755620-1');
    </script>


  </head>
  <body>    

    <main>
      <img alt="tet" src="https://cdn.discordapp.com/attachments/561938814063607823/563455570313609229/lakitu.png"/> 
      <div class="wrapper">
        <div class="badge">
          <span>online</span>
        </div>
      </div>
    </main>


  </body>
</html>
